# Core
fastapi>=0.111
uvicorn[standard]
gunicorn

# Database
sqlmodel
sqlalchemy>=2.0
alembic
psycopg2-binary

# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Background jobs
celery[redis]
redis

# Rate limiting
slowapi

# HTTP client
httpx

# Services
africastalking
authlib
itsdangerous

# Config
pydantic[email]
pydantic-settings
python-dotenv
python-multipart

# Observability
structlog
sentry-sdk[fastapi]

# Email
fastapi-mail
jinja2

# Misc
async-timeout
cffi
