fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
sqlmodel
alembic
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
fastapi-mail
python-multipart
python-dotenv
emails
jinja2
bcrypt==4.0.1
redis
slowapi
async-timeout
authlib
httpx
itsdangerous
cffi
africastalking
