@import "tailwindcss";

@theme {
  --color-primary-50: #f0f7fb;
  --color-primary-100: #e0f0f7;
  --color-primary-200: #bae0f0;
  --color-primary-300: #7dcce9;
  --color-primary-400: #38b2df;
  --color-primary-500: #1ba0d1;
  --color-primary-600: #1784ba;
  --color-primary-700: #136a96;
  --color-primary-800: #0f5478;
  --color-primary-900: #0d4664;
  --color-primary-950: #082d41;

  --color-blue-50: #f0f7fb;
  --color-blue-100: #e0f0f7;
  --color-blue-200: #bae0f0;
  --color-blue-300: #7dcce9;
  --color-blue-400: #38b2df;
  --color-blue-500: #1ba0d1;
  --color-blue-600: #1784ba;
  --color-blue-700: #136a96;
  --color-blue-800: #0f5478;
  --color-blue-900: #0d4664;
  --color-blue-950: #082d41;

  --color-secondary-50: #fef8ee;
  --color-secondary-100: #feefd8;
  --color-secondary-200: #fcdcad;
  --color-secondary-300: #f9c277;
  --color-secondary-400: #f6a03e;
  --color-secondary-500: #f57e20;
  --color-secondary-600: #da6218;
  --color-secondary-700: #b54a16;
  --color-secondary-800: #913b19;
  --color-secondary-900: #763218;
  --color-secondary-950: #40170a;
}

html,
body {
  @apply overflow-x-hidden;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-white text-gray-900 font-sans antialiased;
}