@import "tailwindcss";

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
  --color-primary-950: #172554;

  --color-secondary-50: #fef8ee;
  --color-secondary-100: #feefd8;
  --color-secondary-200: #fcdcad;
  --color-secondary-300: #f9c277;
  --color-secondary-400: #f6a03e;
  --color-secondary-500: #f57e20;
  --color-secondary-600: #da6218;
  --color-secondary-700: #b54a16;
  --color-secondary-800: #913b19;
  --color-secondary-900: #763218;
  --color-secondary-950: #40170a;
}

html,
body {
  @apply overflow-x-hidden;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-white text-gray-900 font-sans antialiased;
}